 <div class="container container-index">

  <% if @user_choice == "cotisations" %>
    <h1>Déniche ici l'abonnement de tes rêves</h1>
  <% else %>
    <h1>Sélectionne l'abonnement à partager</h1>
  <% end %>

    <div class="filters">
    <% Service::CATEGORIES.each do |category, icon| %>
      <h2 class="category" style="cursor: pointer;" data-category="<%= category %>">
        <i class='<%= icon %>'></i>
      </h2>
    <% end %>
  </div>


</div>

<div class="container container-index">

  <div id="selection">
    <% @services.each do |service| %>
      <% path = @user_choice == "cotisations" ? "/services/#{service.id}/subscriptions" : "/services/#{service.id}/subscriptions/new" %>
      <%= link_to path do %>
        <div class="options <%= service.category %>" data-categoryList="<%= service.category %>">
          <p class="service" data-id="<%= service.id %>"><%= image_tag(service.photo, height: '100', width: '200')%></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div id="first-click" data-click="false"></div>


