<% if @user_choice == "cotisation" %>
  <p>Déniches ici l'abonnement de tes rêves</p>
<% else %>
  <p>Sélectionne l'abonnement à partager</p>
<% end %>

<div class="container">
  <div class="filters ">
    <% Service::CATEGORIES.each do |category| %>
      <h2 class="category" data-category="<%= category %>"><%= category %></h2>
    <% end %>
  </div>

  <div id="selection">
    <% @services.each do |service| %>
      <div class="option d-none " data-categoryList="<%= service.category %>">

        <% options_selected = @options.select { |option| option.category == service.category } %>

        <% options_selected.each do |option| %>
          <%#= link_to new_service_subscription_path(option) do %>
          <% path = @user_choice == "cotisations" ? "/services/#{option.id}/subscriptions" : "/services/#{option.id}/subscriptions/new" %>
          <%= link_to path do %>
            <div class="options <%= option.category %>">
              <p class="service" data-id="<%= option.id %>"><%= option.name %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>










