<div class="container dashboard-container mt-3 mb-3">

  <div class="d-flex justify-content-center align-items-center">
    <% if current_user.photo? %>
      <img style="width: 50px; height: 50px; border-radius: 50%;" src="<%= current_user.photo %>">
    <% else %>
      <img style="width: 50px; height: 50px; border-radius: 50%;" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png">
    <% end %>
    <br>
    <h2 class="ml-3" style="text-align: center; color: white;">Bonjour <%= current_user.first_name %></h2>
  </div>

  <h4 style="text-align: center; color: white;">Retrouve ici tes abonnements et de tes informations personnelles</h4>

  <div class="dashboard-shareur py-3 mt-4">
    <div class="d-flex justify-content-center py-2">
      <h4 style="text-align: center;">Mes abonnements en tant que Shareur</h4>
    <div>
    </div>

  </div>


    <% if current_user.subscriptions.count > 0 %>

      <div class="group-card-sub">
        <% @subscriptions.each do |subscription| %>

          <%= render 'shared/card_dashb_sub',  subscription: subscription %>

        <% end %>

        <div class="add-card m-auto">
          <%= link_to "", services_path(user_choice: "subscriptions"), class: "fas fa-plus-circle add-card-plus" %>
        </div>

      </div>





    <% else %>
      <p>Vous ne proposez actuellement aucun abonnement à la location</p>
    <% end %>

  </div>


  <div class="dashboard-locataire py-3 mt-4">
    <div class="top-div d-flex justify-content-between py-2">
      <h4>Mes abonnements en tant que co-abonné</h4>
      <div><%= link_to 'Souscrire un nouvel abonnement', new_subscription_cotisation_path(current_user), class: 'btn btn-hp' %></div>

    </div>
    <% if @cotisations.count > 0 %>
      <div class="group-card-sub">
        <% @cotisations.each do |cotisation| %>

          <%= render 'shared/card_dashb_cot',  cotisation: cotisation %>

        <% end %>

        <div class="add-card m-auto">
          <%= link_to "", services_path(user_choice: "cotisations"), class: "fas fa-plus-circle add-card-plus" %>
        </div>

      </div>
    <% else %>
      <p>Vous ne louez actuellement aucun abonnement !</p>
    <% end %>

  </div>

</div>
