<div class="container dashboard-container mt-3 mb-3">
<h2>Bienvenue dans votre dashboard <%= current_user.first_name %></h2>

<div class="dashboard-co-abonne py-3 mt-4">
  <div class=" top-div d-flex justify-content-between py-2">
    <h3>Vous paragez actuellement ces abonnement</h3>
    <div><%= link_to 'Ajouter un abonnement', new_service_subscription_path(current_user), class: 'btn btn-primary' %></div>
  </div>
  <% if current_user.subscriptions.last != nil %>
    <div class="list-subscription-proprio mt-3">
      <% @subscriptions.each do |subscription| %>
        <%= subscription.name %>
      <% end %>
    </div>
  <% else %>
    <p>Vous ne proposez aucun abonnement à la location</p>
  <% end %>
</div>

<div class="dashboard-locataire py-3 mt-4">
  <div class="top-div d-flex justify-content-between py-2">
    <h3>Vous êtes actuellement co abonné sur ces abonnements</h3>
    <div><%= link_to 'Réserver un nouvel abonnement', new_subscription_cotisation_path(current_user), class: 'btn btn-primary' %></div>
  </div>
  <% if @cotisations != nil %>
    <div class="list-subscription-proprio mt-3">
      <% @cotisations.each do |cotisation| %>
        <%= cotisation.name %>
      <% end %>
    </div>
  <% else %>
    <p>Vous ne louez aucun abonnement !</p>
  <% end %>
</div>

</div>
