<div class="container dashboard-container mt-3 mb-3">

  <div class="d-flex justify-content-center align-items-center mt-4" style="flex-direction: column;">
    <% if current_user.photo? %>
      <img style="width: 50px; height: 50px; border-radius: 50%; border: 1px solid white;" src="<%= current_user.photo %>">
    <% else %>
      <img style="width: 50px; height: 50px; border-radius: 50%;" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png">
    <% end %>
    <h3 class="ml-4 mt-2" style="text-align: center; color: white;">Ravi de vous revoir <%= current_user.first_name %> !</h3>
  </div>

  <div class="dashboard-shareur py-3 mt-3">
    <div class="shareur-title d-flex justify-content-center pb-2">
      <h4 id="abonnements">Mes abonnements en tant que Shareur</h4>
    <div>
    </div>
  </div>
    <% if current_user.subscriptions.count > 0 %>
      <div class="group-card-sub">
        <% current_user.subscriptions.each do |subscription| %>
          <%= render 'shared/card_dashb_sub',  subscription: subscription %>
        <% end %>
        <div class="add-card m-auto">
          <%= link_to "", services_path(user_choice: "subscriptions"), class: "fas fa-plus-circle add-card-plus" %>
        </div>
      </div>
    <% else %>
      <div class="d-flex justify-content-between mt-3">
        <p>Vous ne proposez actuellement aucun abonnement à la location</p>
        <%= link_to 'Partager', services_path(user_choice: "subscriptions"), class: 'btn btn-dashboard' %>
      </div>
    <% end %>
  </div>

  <div class="dashboard-locataire py-3 mt-4">

    <h4>Mes abonnements en tant que co-abonné</h4>

    <% if current_user.cotisations.count > 0 %>
      <div class="group-card-sub">
        <% current_user.cotisations.each do |cotisation| %>

        <% if cotisation.state != 'canceled' %>
          <%= render 'shared/card_dashb_cot',  cotisation: cotisation %>
        <% end %>

        <% end %>
        <div class="add-card m-auto">
          <%= link_to "", services_path(user_choice: "cotisations"), class: "fas fa-plus-circle add-card-plus" %>
        </div>
      </div>
    <% else %>
      <div class="d-flex justify-content-between mt-3">
        <p>Vous ne louez actuellement aucun abonnement !</p>
          <%= link_to 'Souscrire', services_path(user_choice: "cotisations"), class: 'btn btn-dashboard' %>
      </div>
    <% end %>
  </div>


  <div class="info-perso py-3 mt-4">
    <div class="row info-perso-header d-flex align-items-center">
      <div class="col-11 info-perso-title"><h4 class="pl-4" style="text-align: center; margin-top:10px;">Mes infos persos</h4></div>
      <div class="col-1">
        <%= link_to edit_user_registration_path do %>
          <i class="fas fa-pen px-1"></i>
        <% end %>
      </div>
    </div>
    <div class="container mt-3 mx-3">

      <a id="anchor"> <div class="row d-flex"></a>
        <div class="col-4 left-info-perso ml-4">
          <h5 class="pl-3 mb-3"> Mes coordonnées :</h5>
          <p class="pl-3"><i class="fas fa-user pr-3"></i><b>Identité :</b> <%= current_user.first_name %> <%= current_user.last_name %> </p>
          <p class="pl-3"><i class="fas fa-at pr-3"></i><b>Email :</b> <%= current_user.email %></p>
          <p class="pl-3"><i class="fas fa-fingerprint pr-3"></i><b>Mot de passe :</b> ********** </p>
          <p class="pl-3"><i class="fas fa-phone pr-3"></i><b>Téléphone :</b> <%= current_user.phone_number %></p>
        </div>
        <div class="col-2"></div>
        <div class="col-5 pl-3 right-info-perso" style="text-align: center;">
          <h5 class=" mb-3">Ma cagnotte : </h5>
          <p style="font-size: 2.5em;"><i class="fas fa-euro-sign pr-3"></i><%= current_user.cagnotte.to_f %></p>
          <p><a href="#" class="btn btn-hp mr-3">Demander un virement</a><a href="https://www.lewagon.com" class="btn btn-donate">Faire un don à une asso</a></p>
        </div>
      </div>
      </div>
  </div>

</div>
