<div class="co-abo-card m-auto">
  <%= image_tag(subscription.service.photo, class: "co-abo-card-photo") %>
  <div class="co-abo-price"><%= subscription.service.total_price.fdiv(subscription.service.number_of_places).round(2) %>€ / mois</div>
  <div class="commission-service">+0,30 € de frais de service par mois</div>
  <button id="button-modal<%= subscription.id %>" type="button" class="btn btn-lg btn-dasb" data-toggle="modal" data-target="#modal-subscription<%= subscription.id %>">
    Gerer
  </button>
</div>


<%= render 'shared/show_subscription', subscription: subscription %>
