<div class="show-subcard mt-1" >
  <div class="d-flex flex-wrap mt-1">
    <div class="show-left-sub">
      <div class="mx-3 pt-3 pb-1" style="color: #4281A4; font-weight: bold;"><h4>Tarification</h4></div>
      <div class="mx-5 my-2" ><p style="font-size: 1.3em; color: #48A9A6; font-weight: bold;"><%= @service.total_price.fdiv(@service.number_of_places).round(2)+ 0.30 %>€/mois</p></div>
      <div class="mx-5 my-2" >au lieu de <%=  @service.total_price %>€/mois </div>
    </div>

    <div class="show-middle-sub mt-1">
      <div class="mx-3 pt-3 pb-3 d-flex" style="color: #4281A4; font-weight: bold;"><h4>Commentaires</h4></div>




    <% subscription.cotisations.each do |cotisation| %>
      <% cotisation.reviews.each do |review|%>
      <% sleep(2) %>
        <ul> "<%= review.cotisation.user.photo %><%= review.content %>"</ul>
      <% end%>
    <% end %>
    </div>

    <div class="show-right-sub">

      <div>  <%= link_to 'Rejoindre', new_subscription_cotisation_path(subscription), class: 'btn btn-bleu', method: :post %> </div>
      <div>  <%= link_to "Rejoindre #{subscription.user.first_name}", subscription_cotisations_path(subscription), class: 'btn btn-rejoindre', method: :post %> </div>

    </div>
  </div>
</div>

