<div class="container">
<!-- les lignes ci-dessous permettent de gérer l'affichage dynamique du titre -->
  <% if @subscriptions.size > 0 && @subscriptions.size - @full_subscriptions.size > 0 %>
      <h2 class="index-sub-title">
        <%= current_user.first_name.capitalize %>, voici les partages
        <%= @service.name %> disponibles
      </h2>
  <% else %>
  <div class="container" style="text-align: center;">
    <h2 class="index-sub-title">Il n'y aucun partage <%= @service.name %> disponible</h2>
    <%= link_to 'Chercher autre chose', services_path(user_choice: "cotisations"), class: 'btn btn-abus' %>
  </div>
  <% end %>

<!-- les lignes ci-dessous permettent de gérer l'affichage dynamique des subscriptions dispo -->

  <div id="accordion">
    <% @subscriptions.each do |subscription| %>
      <% if subscription.available_places > 0 %> <!-- <  @service.number_of_places && subscription.available_places -->
        <div class="subcard d-flex flex-wrap align-items-center">

          <div class="d-flex flex-wrap subcard-left">
            <div class="subcard-avatar ml-3 mr-2 my-2">
              <% if subscription.user.photo? %>
                <img src="<%= subscription.user.photo %>">
              <% else %>
                <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png">
              <% end %>
            </div>
            <div class="subcard-name ml-1 my-2"><%= subscription.user.first_name %></div>
          </div>

          <div class="note">
            <%= render 'shared/stars', note: average(subscription) %>
          </div>

          <div class="subcard-left-logo">
            <div class="subcard-logo mx-3 my-2"><%= image_tag(@service.photo) %> </div>
          </div>

          <div class="subcard-middle">
            <div class="subcard-places mx-3 my-2 d-flex justify-content-center align-items-center">
              <% if subscription.available_places > 1 %>
                <%= subscription.available_places %> places restantes
              <% else %>
                <%= subscription.available_places %> place restante
              <% end %>
            </div>
          </div>

          <div class="subcard-right">

            <div class="subcard-price mx-3 my-2">
              <%= @service.total_price.fdiv(@service.number_of_places).round(2) + 0.30 %>€/mois
            </div>

            <div class="subcard-plus mx-3 my-2" id="heading<%= subscription.id %>" data-toggle="collapse" data-target="#collapse<%= subscription.id %>" aria-expanded="false" aria-controls="collapse<%= subscription.id %>">
              <i class="fas fa-plus-circle"></i>
            </div>

          </div>
        </div>
        <div id="collapse<%= subscription.id %>" class="collapse" aria-labelledby="heading<%= subscription.id %>" data-parent="#accordion">

          <%= render "shared/collapse_card", subscription: subscription %>

        </div>
      <% end %>
    <% end %>
  </div>

</div>
