<div class="container">
<!-- les lignes ci-dessous permettent de gérer l'affichage dynamique du titre -->
  <% max_places = [] %>
  <% @subscriptions.each do |subscription| %>
    <% max_places << subscription.available_places %>
  <% end %>
  <% max_places_dispo = max_places.max %>

    <% if max_places_dispo != nil && max_places_dispo < @service.number_of_places %>
      <% if user_signed_in? %>
        <h2 class="index-sub-title mt-3 mb-3" style="text-align: center; "> <%= current_user.first_name.capitalize %>, voici les <%= @subscriptions.count %> partages <%= @service.name %> disponibles</h2>
      <% else %>
        <h2 class="index-sub-title mt-3 mb-3" style="text-align: center; ">Voici les <%= @subscriptions.count %> partages <%= @service.name %> disponibles</h2>
      <% end %>
    <% else %>
      <h3 class="index-sub-title mt-3 mb-3" style="text-align: center;">Désolé, il n'y a aucun shareur <%= @service.name %> disponible...</h3>
      <div style="text-align: center; margin: 20px; color: white;"><%= link_to 'Chercher un autre abonnement', services_path(user_choice: "cotisations"), class: 'btn btn-hp' %></div>
    <% end %>

<!-- les lignes ci-dessous permettent de gérer l'affichage dynamique des subscriptions dispo -->
  <% @subscriptions.each do |subscription| %>
    <% if subscription.available_places < @service.number_of_places %>
      <div class="subcard d-flex align-items-center">
        <div class="subcard-left">
          <div class="subcard-avatar mx-3 my-2">
            <% if subscription.user.photo? %>
              <img src="<%= subscription.user.photo %>">
            <% else %>
              <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png">
            <% end %>
          </div>
          <div class="subcard-name mx-3 my-2"><%= subscription.user.first_name %></div>
        </div>
        <div class="subcard-left-logo">
          <div class="subcard-logo mx-3 my-2"><%= image_tag(@service.photo) %> </div>
        </div>

        <div class="subcard-middle">
          <div class="subcard-places mx-3 my-2"><%= subscription.available_places %>/<%= @service.number_of_places %> places disponibles</div>
          <div class="buy">
            <%= link_to 'Souscrire', subscription_cotisations_path(subscription), method: :post %>
          </div>
        </div>

        <div class="subcard-right">
          <div class="subcard-price mx-3 my-2"><%= @service.total_price.fdiv(@service.number_of_places).round(2)+ 0.30 %>€/mois</div>
          <div class="subcard-plus mx-3 my-2"><i class="fas fa-plus-circle"></i></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


