<div class="container">
  <%= simple_form_for [@service, @subscription] do |f| %>
    <%= f.input :available_places %>
    <%= f.input :password %>
    <%= f.input :identifiant %>
    <%= f.submit %>
  <% end %>
</div>
