<div class="container_subscription">
  <div class="container mt-3">
    <div class="new-subcard">
      <br>

      <div class="new-subcard-header">
        <div class="subcard-header-left">
          <div class="subcard-avatar mx-3 my-1">
            <% if current_user.photo? %>
              <img src="<%= @user.photo %>">
            <% else %>
              <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png">
            <% end %>
          </div>
        </div>
        <div class="subcard-header-middle">
          <div class="subcard-logo mx-3 my-2"><%= image_tag(@service.photo) %> </div>
        </div>
        <div class="subcard-header-right">
          <div><i><%= @service.description %></i></div>
        </div>
      </div>

      <div class="new-sub-body">
        <div class="central d-flex justify-content-between">
          <div class="central-left">
            <p><strong>Votre prix par mois</strong></p>
            <br>
            <h2> <strong> <%= @service.total_price %>€ </strong> </h2>
          </div>

          <div class="center">
            <p><strong>Prix par co-abonné(e)</strong></p>
            <br>
            <h2 > <strong> <%= @service.total_price.fdiv(@service.number_of_places).round(2)%>€ </strong> <span style="font-size: 0.5em;">/mois </span> </h2>
          </div>

          <div class="place">
            <p style="font-weight: bold;">Places totales</p>
            <br>
            <h2 id="max" style="font-weight: bold;"><%= @service.number_of_places %></h2>
          </div>

          <div class="form d-flex" id="places-form">
            <span class="less_place"><i class="fas fa-angle-left"></i></span>
            <span class="add_place"> <i class="fas fa-angle-right"></i> </span>
            <%= simple_form_for [@service, @subscription] do |f| %>
              <%= f.input :available_places, label: 'Places dispos ?', input_html: { value: '1'} %>
          </div>
        </div>
      </div>

      <div class="sub-footer" id="id-mdp-form">
        <div class="bottom_subscription" style="background-color: white">
          <%= f.input :identifiant, required: true, :label => "Votre identifiant #{@service.name}" %>
          <%= f.input :password, required: true, :label => "Votre mot de passe #{@service.name}" %>
          <%= f.submit :class => 'button-submit-card-subscription btn-hp py-1 px-3 mt-3', value: 'Terminé !'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
