  <div class="container">

  <div class="cotisation-card">

    <div class="cotisation-card-header pt-3 d-flex justify-content-center align-items-center mt-3">
      <div class="back ml-2" style="width: 5%; text-align: center;">
        <a href="/dashboard"><i class="fas fa-long-arrow-alt-left"></i></a>
      </div>
      <div class="cotisation-title" style="width: 95%; text-align: center;">
        <h3>Détail de ton abonnement <%= @subscription.name %></h3>
      </div>
    </div>

    <div class="cotisation-card-body d-flex mt-3">
      <div class="cotisation-logo d-flex align-items-center justify-content-center" style="text-align: center; height: 180px;">
        <%= image_tag(@subscription.service.photo, height: '100', width: '200')%>
      </div>
      <div class="cotisation-infos">
          <p><i class="fas fa-tv"></i> <b>Abo :</b><%= @subscription.service.name %></p>
          <div class="password-subscription">
            <p><i class="fas fa-at"></i> <b> Identifiant : </b></p>
             <p>
                <%= simple_form_for @subscription do |f|%>
                  <%= f.input :identifiant, label: false, input_html: {value: @subscription.identifiant, type: "text", class: "input_password"} %>
                <% end %>
              </p>
          </div>
          <div class="password-subscription">
            <p><i class="fas fa-fingerprint d-flex"></i><b> Mot de passe :</b></p>
            <p><%= simple_form_for @subscription do |f|%>
                <%= f.input :password, label: false, input_html: {value: @subscription.password, type: "text", class: "input_password"} %>
              <% end %>
            </p>
          </div>
          <div class="password-subscription">
            <p><i class="fas fa-at"></i> <b> Nombre de place dispo :</b></p>
             <p><%= simple_form_for @subscription do |f|%>
                <%= f.input :available_places, label: false, input_html: {value: @subscription.available_places, type: "text", class: "input_password"} %>
              <% end %>
            </p>
          </div>
      </div>
      <div class="review" style="text-align:center">
            <% if @subscription.reviews.any? %>
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="4000">
                <div class="carousel-inner">
                  <% subscription.reviews.each_with_index do |review, index| %>
                    <div class="carousel-item <%= 'active' if index == 0 %>">
                      <% if review.cotisation.user.photo?  %>
                        <div class="review_display">
                          <div class="content_review">
                           <img class="avatar" src="<%= review.cotisation.user.photo %>"/>
                            <%= render "shared/stars", note: average(subscription)%>
                            <i> <strong>"</strong> <%=  review.content %> <strong>"</strong> </i>                    </div>
                        </div>
                      <% else %>
                        <div class="review_display">
                          <img class="avatar" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png">
                          <div class="content_review">
                            <%= render "shared/stars", note: average(subscription)%>
                             <i> <strong>"</strong> <%=  review.content %> <strong>"</strong> </i>
                          </div>
                        </div>
                      <% end  %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% else  %>

              <div>
                <div class="mx-3 pb-1" style="color: #4281A4; font-weight: bold;">
                  <h4>Avis</h4>
                </div>
                <div class="mx-5 my-2" >
                  <p><i style="font-weight: normal;">Aucun avis pour le moment...</i></p>
                </div>
              </div>
            <% end %>
           </div>
          </div>

    <div class="cotisation-card-footer mt-4 ">
        <div class="abonne_reviews d-flex">
          <div class="card-co-abo align-items-center justify-content-around mx-4" style="width: 50%; text-align:center;">
            <h4 class="mb-4">Tes co-abonnés</h4>
            <% if @subscription.cotisations.count < 1 %>
              <p><i>Tu n'as pas de co-abonné(e) pour le moment</i></p>
            <% else %>

            <% @subscription.cotisations.each do |cotisation| %>

                <div class="co-abos-card mb-3 d-flex" style="text-align: center;">
                  <% if cotisation.user.photo?  %>
                    <img class="avatar" src="<%= cotisation.user.photo %>" alt="">
                  <% else %>
                    <img class="avatar" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"/>
                  <% end %>
                  <br>
                  <i><%= cotisation.user.first_name %>
                    <%= link_to cotisation_path(cotisation), method: :delete, data: { confirm: "Souhaitez-vous vraiment supprimer cette utilisateur de votre abonnement?" } do %>
                    <i class="far fa-trash-alt"></i>
                    <% end %>
                   </i>
                </div>
              <% end %>
              <% end %>
            </div>
            <div class="cotisation-buttons py-3 pl-3 d-flex justify-content-center">
          <%= link_to "Supprimer l'abonnement", subscription_path(@subscription), method: :delete, data: { confirm: "Souhaitez-vous vraiment supprimer cette abonnement ?" }, class: 'btn btn-destroy' %> <br> <br>
      </div>
          </div>

        </div>

    </div>
    </div>
  </div>
</div>
