
<div class="container payment-container mt-4">
<h4 class="py-3" style="text-align: center;">Récapitulatif de ta souscription</h4>
  <div class=" d-flex pb-3 justify-content-around">
      <div class="left-payment px-3 py-3 d-flex justify-content-center align-items-center">
        <%= image_tag(@cotisation.subscription.service.photo, width: '250', height: '125') %>
      </div>

      <div class="right-payment px-3 py-3">

        <p>
          <i class="fas fa-cube"></i> <b>Service :</b> <%= @cotisation.subscription.service.name %>
        </p>
        <p>
          <i class="fas fa-user-check"></i> <b>Shareur :</b> <%= @cotisation.user.first_name %>
        </p>
        <p>
          <i class="fas fa-euro-sign"></i> <b>Tarif mensuel :</b> <strong><%= (@cotisation.price_cents / 100.0).round(2) %> €</strong>
        </p>

        <button id="pay" class="btn btn-hp mr-2">Payer</button>

        <%= link_to cotisation_path(@cotisation), method: :delete, data: { confirm: "Souhaitez-vous vraiment abandonner votre achat ?"}, class: "btn btn-hp mr-2" do %>
        Annuler
        <% end %>


        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @cotisation.checkout_session_id %>'
            });

          });
        </script>
      </div>
    </div>

  <% if @cotisation.subscription.cotisations.size > 0 %>
  <div class="d-flex justify-content-center" style="border-top: 1px solid grey;">
      <div class="cotisation-card-footer mt-4">
      <p style="font-size: 1.2em; font-style: italic; color: grey;" class="mb-4">En finalisant ta souscription, ce share sera composé de :</p>

      <div class="card-co-abo d-flex align-items-center justify-content-around mx-4">

            <div>
              <div style="text-align: center;">
              <% if @cotisation.subscription.user.photo? %>
                  <%= cl_image_tag @cotisation.subscription.user.photo, class: "avatar" %>
                <% else %>
                  <img class="avatar" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"/>
                <% end %>
              </div>
              <i><%= @cotisation.subscription.user.first_name %></i>
            </div>

            <div class="co-abos-card d-flex" style="text-align: center;">
              <% @cotisation.subscription.cotisations.each do |cotisation| %>
                <div class="mx-3" style="text-align: center;">
                  <% if cotisation.user.photo? %>
                    <img class="avatar" src="<%= cotisation.user.photo %>" >
                  <% else %>
                    <img class="avatar" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"/>
                  <% end %>
                <br>
                <i><%= cotisation.user.first_name %></i>
              </div>
              <% end %>
            </div>
        </div>
      </div>

    <% end %>
    </div>
  </div>


  </div>
</div>




